html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(166, 241, 241);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.welcomeHeader {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.WhyHopLiteContainer {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: black;
  border-width: 5px;
  border-style: groove;
  widows: 80%;
}